.App {
  text-align: center;
  background-color: #dcebeb;
  min-height: 1vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(12, 12, 12);
}

.App img {
  min-width: 90%;
}

.App-link {
  color: #3ae007;
}

.App a {
  display: inline-flex;
}
